<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- INTERNET -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- NETWORK -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="org.osmdroid.config.userAgentValue"
            android:value="runnaApp"/>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>

        <!-- Activities -->
        <activity android:name=".RegisterActivity"/>
        <activity android:name=".SummaryActivity"/>
        <activity android:name=".RunningActivity"/>
        <activity android:name=".ProfileActivity"/>
        <activity android:name=".HistoryActivity"/>
        <activity android:name=".StartRunningActivity"/>
        <activity android:name=".ChallengesActivity"/>
        <activity android:name=".ChallengeDetailsActivity"/>
        <activity android:name=".CreateChallengeActivity"/>
        <activity android:name=".HomeActivity"/>
        <activity android:name=".MainActivity"/>

        <activity
            android:name=".LoginActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

    </application>

</manifest>